@mixin container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container {
  @include container;
  width: 400px;
}

.formContainer {
  @include container;
  padding: 24px;
}

.verificationCode {
  display: flex;
  flex-direction: column;

  .codeLabels {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
