.AppContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid yellow;

  width: 100vw;
  height: 100vh;
}

.AppContent {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

@media (prefers-reduced-motion) {}

/* Mobile and Tablet */
@media (max-width: 767px) {
  .AppContainer {
    flex-direction: column-reverse;
  }
}

@media (prefers-color-scheme: dark) {}